body{
    margin: 0;
}
.start1{
    display: flex; 
    text-align: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    margin: 0;
    background-color: #000000;
}
.First{
    font-size: 20px;
    display: inline;
    justify-content: center;
    margin-left: 8px;
    color: #FFD700;
    padding-top: 8px;
}
.First-list{
    font-size: 20px;
    display: inline;
    justify-content: center;
    margin-left: 8px;
    color: #FFD700;
    padding-top: 8px;
}
.First2{
    display: flex;
}
.otherNames{
    display: flex;
    flex-direction: column;
    padding-top: 4px;
}
#Name{
    font-size: 108px;
    text-transform: uppercase;
    color: #FF4500;
    }
    #Name1{
    position: static;
    font-size: 45px;
    padding-top: 4px;
    color: #FF4500;
    }
    #Name2{
        font-size: 45px;
        color: rgb(255,215,0);
    }
    .start2{
        display: flex; 
    }
    .First3{
        display: inline;
        font-size: 20px;
        margin-right: 8px;
        color: #FFD700;
        padding-bottom: 8px;
    }
    .First-one{
        text-align: left;
        padding-top: 30px;
    }
    .First-two{
        text-align: center;
    }
    .First-three{
        text-align: right;
        padding-top: 30px;
    }
    .Big{
        text-transform: uppercase;
    }
    .start1-two{
        background-image: url("background.jpg");
        background-size: no-repeat;
        background-position: center;
        background-size: cover;
        height: 400px;
        display: flex;
        margin: 0px;
        align-items: center;
        justify-content: center;
    }
    #text-two{
        color: #FF4500;
        font-size: 55px;
    }
    .marki{
        display: flex;
        border: #000000;
    }
    .marki-1{
        padding-top: 70px;
        padding-bottom: 70px;
        padding-right: 70px;
        padding-left: 25px;
    }
    .marki-2{
        padding: 70px;
    }
    .marki-3{
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 70px;
    }
    .auto{
        text-align: center;
        font-size: 25px;
    }
    .photo-auto{
        width: 400px;
        height: 300px;
    }
    .End1{
        background-color: rgb(0,0,0);
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: center
    }
    .End2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 16px;
    }
    .End3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 22px;
    }
    #photo1{
        float: left;
    }
    #photo2{
        float: right;
    }
    img{
        width: 200px;
        height: 180px;
    }
    a{
        font-size: 20px;  
        color: #FFD700;
        text-decoration: none;
    }
    a:hover{
        color: #FF4500;
    }
    @media all and (max-width: 1200px){
        .start1{
            display: flex; 
            text-align: center;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100px;
            margin: 0;
            background-color: #000000;
        }
        .First-one{
            display: none;
        }
        .First-three{
            display: none;
        }
        #Name{
            font-size: 108px;
            text-transform: uppercase;
            color: #FF4500;
        }
        .otherNames{
            display: flex;
            flex-direction: column;
            padding-top: 4px;
        }
        #Name1{
            position: static;
            font-size: 45px;
            padding-top: 4px;
            color: #FF4500;
        }
        #Name2{
            font-size: 45px;
            color: rgb(255,215,0);
        }
        .start1-two{
            background-image: url("background.jpg");
            background-size: no-repeat;
            background-position: center;
            background-size: cover;
            height: 200px;
            display: flex;
            margin: 0px;
            align-items: center;
            justify-content: center;
        }
        #text-two{
            color: #FF4500;
            font-size: 35px;
        }
        #photo1{
            display: none;
        }
        #photo2{
            display: none;
        }
        .marki{
            display: flex;
            flex-direction: column;
        }
        .marki-1, .marki-2, .marki-3{
            padding-top: 45px;
        }
    }